* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#table {
  width: 100vw;
  height: 75vh;
  background-color: rgb(144, 95, 58);
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 0.5fr 1fr;

  grid-template-areas:
    ". vaso . vaso2 ."
    "servilleta plato . plato2 servilleta2"
    ". . . . ."
    "pata1 . . . pata2";
}

.elemento {
  justify-self: center;
  align-self: center;
}

.vasos {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: gray;
}

.vaso {
  grid-area: vaso;
  justify-self: start;
}

.vaso2 {
  grid-area: vaso2;
  justify-self: end;
}

.platos {
  width: 260px;
  height: 120px;
  border-radius: 50%;
  background-color: #bdbdbd;
}

.plato {
  grid-area: plato;
}

.plato2 {
  grid-area: plato2;
}

.servilletas {
  width: 170px;
  height: 170px;
  background-color: transparent;
  border: 6px solid red;
}

.servilleta {
  grid-area: servilleta;
}

.servilleta2 {
  grid-area: servilleta2;
}

.patas {
  position: absolute;
  bottom: 0;
  width: 160px;
  height: 25vh;
  background-color: rgb(52, 29, 14);
}

.pata1 {
  left: 0;
}

.pata2 {
  right: 0;
}
